<h1>Reports</h1>
<h2>Employee Total</h2>
<%= render 'form_em_total' %>
<h2>Employee Detail</h2>
<%= render 'form_em_detail' %>
<h2>Employee Detail with memo</h2>
<%= render 'form_em_detail_memo' %>
<h2>Location Detail</h2>
<%= render 'form_location_detail' %>
